/* ***********
Css 
************* */
div {
  width: 230px;
  height: 350px;
  border: 1px solid black;
  margin: auto;
  box-shadow: 0 0 3px;
}
.register {
  color: cornflowerblue;
  text-align: center;
}
label {
  margin-left: 10px;
  font-size: x-small;
  margin-top: 20px;
}
input {
  margin: 0 10px;
  height: 20px;
  width: 200px;
  padding: 0px;
}
button {
  margin: 10px;
  padding: 5px;
  background-color: dodgerblue;
  color: white;
  border: none;
  font-size: x-small;
  width: 50px;
}
span {
  font-size: x-small;
  color: red;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 10px;
}
